@use "../foundation/variables" as *;
@use "../foundation/breakpoints" as g;

/*!
layout > footer
------------------------------
*/

.l-footer {
  width: 100%;

  margin-inline: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.l-footer_copyright {
  font-size: 14px;
}
