@use "../foundation/variables" as *;
@use "../foundation/breakpoints" as g;
/*!
layout > header
------------------------------
*/
.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-inline: 10px;
  font-weight: $fw-semi-bold;
  width: 100%;
  background-color: $color-white;
  position: fixed;
  z-index: $z-index-header;

  &--top {
    background-color: transparent;
    margin-top: 0;
    @include g.mq() {
      margin-top: 20px;
    }
  }
  @include g.mq() {
    padding-inline: 30px;
  }

  @include g.mq(nav) {
    padding-top: 0;
  }
}

.l-header_logo {
  width: 43.5%;
  max-width: 627px;
  min-width: 200px;
}
.l-header_logo-hidden {
  display: none;
}
.l-header_logo-link {
  display: block;
}
.l-header_nav {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.l-header_menu {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.8s,
    visibility 0s linear 0.3s;

  height: 100vh;
  width: 100vw;
  padding: 125px 100px 100px 100px;

  top: 0;
  left: 0;
  z-index: $z-index-negative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;

  background-color: $color-accent;
  color: $color-white;

  @include g.mq(nav) {
    position: static;
    opacity: 1;
    visibility: visible;
    margin-left: auto;
    z-index: auto;

    width: auto;
    height: auto;
    padding: 0;
    display: block;
    background-color: transparent;
    color: $color-black;
  }

  .is-open & {
    opacity: 1;
    visibility: visible;

    transition:
      opacity 0.3s ease,
      visibility 0s linear 0s;
  }
}
.l-header_account-list {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 10px;

  @include g.mq(nav) {
    margin-bottom: 20px;
  }
}

.l-header_account-item {
  &:first-child::after {
    content: "|";
  }
}

.l-header_account-link {
  transition: color 0.3s ease;

  @media (any-hover: hover) {
    &:hover {
      color: $color-primary;
    }
  }
}

.l-header_menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
  @include g.mq(nav) {
    flex-direction: row;
    gap: 50px;
    padding-bottom: 0;
  }
}

.l-header_menu-item {
}

.l-header_menu-link {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;

    width: 100%;
    height: 2px;
    background-color: $color-accent;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  &[aria-current="page"] {
    color: $color-primary;
  }

  @media (any-hover: hover) {
    &:hover {
      color: $color-primary;

      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.l-header_hamburger-button {
  justify-self: flex-end;
  width: 50px;
  height: 50px;
  background-color: $color-accent;
  border-radius: 50%;
  border: 1px solid $color-white;
  position: relative;
  margin-left: auto;
  z-index: $z-index-default;
  margin-bottom: 10px;

  @include g.mq(nav) {
    display: none;
  }
}

.l-header_humburger-line {
  width: 28px;
  height: 2px;
  background-color: $color-white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition:
    transform 0.5s,
    opacity 0.3s;

  &:nth-of-type(1) {
    top: 34%;
  }
  &:nth-of-type(3) {
    top: 66%;
  }

  .is-open & {
    &:nth-of-type(1) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.l-header.is-scrolled {
  background-color: $color-white;
  margin-top: 0;

  .l-header_logo-hidden {
    display: block;
  }
}
