@charset "UTF-8";
/* Figma: Light */
/* Figma: Regular */
/* Figma: Medium */
/* Figma: Bold */
/* Figma: Bold */
/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: inherit;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

textarea {
  resize: vertical;
  display: block;
}

select {
  cursor: pointer;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: inherit;
}

tbody {
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  width: 100%;
  height: auto;
  display: block;
}

dialog {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

iframe {
  vertical-align: bottom;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.7;
  font-size: 16px;
  color: #000000;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

/*!
layout > header
------------------------------
*/
.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-inline: 10px;
  font-weight: 600;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 30;
}
.l-header--top {
  background-color: transparent;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .l-header--top {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .l-header {
    padding-inline: 30px;
  }
}
@media screen and (min-width: 960px) {
  .l-header {
    padding-top: 0;
  }
}

.l-header_logo {
  width: 43.5%;
  max-width: 627px;
  min-width: 200px;
}

.l-header_logo-hidden {
  display: none;
}

.l-header_logo-link {
  display: block;
}

.l-header_nav {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s, visibility 0s linear 0.3s;
  height: 100vh;
  width: 100vw;
  padding: 125px 100px 100px 100px;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  background-color: #fcbd01;
  color: #ffffff;
}
@media screen and (min-width: 960px) {
  .l-header_nav {
    position: static;
    opacity: 1;
    visibility: visible;
    margin-left: auto;
    width: auto;
    height: auto;
    padding: 0;
    display: block;
    background-color: transparent;
    color: #000000;
  }
}
.is-open .l-header_nav {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s linear 0s;
}

.l-header_account-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 960px) {
  .l-header_account-list {
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 960px) {
  .l-header_account-item:first-child::after {
    content: "|";
  }
}

.l-header_account-link {
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .l-header_account-link:hover {
    color: #fd7325;
  }
}

.l-header_menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
}
@media screen and (min-width: 960px) {
  .l-header_menu-list {
    flex-direction: row;
    gap: 50px;
    padding-bottom: 0;
  }
}

.l-header_menu-link {
  position: relative;
}
.l-header_menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #fcbd01;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.l-header_menu-link[aria-current=page] {
  color: #fd7325;
}
@media (any-hover: hover) {
  .l-header_menu-link:hover {
    color: #fd7325;
  }
  .l-header_menu-link:hover::after {
    transform: scaleX(1);
  }
}

.l-header_hamburger-button {
  width: 50px;
  height: 50px;
  background-color: #fcbd01;
  border-radius: 50%;
  border: 1px solid #ffffff;
  position: relative;
  margin-left: auto;
  z-index: 1;
}
@media screen and (min-width: 960px) {
  .l-header_hamburger-button {
    display: none;
  }
}

.l-header_humburger-line {
  width: 28px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: transform 0.5s, opacity 0.3s;
}
.l-header_humburger-line:nth-of-type(1) {
  top: 34%;
}
.l-header_humburger-line:nth-of-type(3) {
  top: 66%;
}
.is-open .l-header_humburger-line:nth-of-type(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.is-open .l-header_humburger-line:nth-of-type(2) {
  opacity: 0;
}
.is-open .l-header_humburger-line:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.l-header.is-scrolled {
  background-color: #ffffff;
  margin-top: 0;
}
.l-header.is-scrolled .l-header_logo-hidden {
  display: block;
}

/*!
layout > footer
------------------------------
*/
.l-footer {
  width: 100%;
  margin-inline: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.l-footer_copyright {
  font-size: 14px;
}

/*!
layout > container
------------------------------
*/
.l-container {
  padding-inline: 20px;
}
@media screen and (min-width: 768px) {
  .l-container {
    padding-inline: clamp(20px, 14.88vw - 94.28px, 120px);
  }
}

/*!
component > button
------------------------------
*/
/*
  @media (any-hover: hover) {
    &:hover {

    }
  }
  @include g.mq() {ßß
  }
*/
.c-button {
  margin-inline: auto;
  width: 300px;
  height: 80px;
  padding: 25px 22px 25px 50px;
  background-color: #fd7325;
  border-radius: 20px;
  font-family: "Hiragino Kaku Gothic StdN", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 0.11em;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  gap: 18px;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.c-button::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 14px solid #ffffff;
  transition: transform 0.3s ease;
}
@media (any-hover: hover) {
  .c-button:hover {
    opacity: 0.7;
  }
  .c-button:hover::after {
    transform: translateX(5px);
  }
}

/*!
component > cta
------------------------------
*/
.c-cta {
  width: 100%;
  height: fit-content;
  background-color: #fcbd01;
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 0;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.c-cta_image img {
  width: 100%;
}

.c-cta_text01_wrapper {
  width: 120%;
  margin-left: auto;
  border-radius: 0px 0px 260px 160px;
  background-color: #ffffff;
  transform: translateY(calc(-1 * clamp(14px, 3.42vw + 0.62px, 50px))) rotate(10deg);
  padding-bottom: clamp(10px, 2.19vw + 1.45px, 33px);
  padding-top: clamp(20px, 10vw - 19.37px, 126px);
}

.c-cta_text01 {
  font-size: clamp(17px, 4.47vw - 0.45px, 64px);
  font-weight: 600;
  line-height: 1.4;
  color: #fd7325;
  text-align: center;
  transform: rotate(-5deg);
}

.c-cta_text02 {
  font-family: "Hiragino Kaku Gothic StdN", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  font-size: clamp(16px, 3.8vw + 1.14px, 56px);
  font-weight: 800;
  line-height: 1.4;
  transform: rotate(-6deg) translateY(-25%);
}
.c-cta_text02 ::after {
  content: "";
  display: inline-block;
  background-image: url(../../image/cta-exclamation.png);
  background-size: cover;
  background-position: center;
  width: 15%;
  margin-left: 3%;
  aspect-ratio: 76/103;
  transform: rotate(6deg) translateY(17%);
}
@media screen and (min-width: 768px) {
  .c-cta_text02 ::after {
    margin-left: 2%;
  }
}

.c-cta_text03 {
  padding-left: 8vw;
  font-size: clamp(23px, 6.19vw - 1.14px, 88px);
  margin-bottom: 24vh;
}
@media screen and (min-width: 768px) {
  .c-cta_text03 {
    margin-bottom: 0;
  }
}

.c-cta_button {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (min-width: 768px) {
  .c-cta_button {
    position: static;
  }
}

.c-cta_text04 {
  padding-top: clamp(12px, 3.23vw - 0.62px, 46px);
  font-size: clamp(16px, 0.76vw + 13px, 24px);
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  .c-cta_text04 {
    margin-bottom: 24vh;
  }
}

.c-cta_link-wrapper {
  margin-right: 2.43vw;
}
@media screen and (min-width: 768px) {
  .c-cta_link-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5.57vh;
  }
}

.c-cta_link {
  display: block;
  background-color: #fd7325;
  border-radius: 20px;
  border: 4px solid #fcbd01;
  padding: 1.94vh 3.92vw;
  font-family: "Hiragino Kaku Gothic StdN", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  font-size: clamp(16px, 3.04vw + 4.11px, 48px);
  font-weight: 800;
  letter-spacing: 0.02em;
  color: #ffffff;
  white-space: nowrap;
  max-width: 100%;
  text-align: center;
  box-shadow: 5px 6px 0 0 #fd7325;
  margin-bottom: 3vh;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
@media screen and (min-width: 768px) {
  .c-cta_link {
    box-shadow: 10px 12px 0 0 #fd7325;
  }
}
@media (any-hover: hover) {
  .c-cta_link:hover {
    transform: translate(3px, 3px);
    box-shadow: 2px 3px 0 0 #fd7325;
  }
}
@media screen and (any-hover: hover) and (min-width: 768px) {
  .c-cta_link:hover {
    transform: translate(5px, 6px);
    box-shadow: 5px 6px 0 0 #fd7325;
  }
}

/*!
component > top-section-title
------------------------------
*/
.c-top-section-title {
  width: 300px;
  height: 189px;
  margin-inline: auto;
  border-radius: 300px 1000px 400px 1000px;
  background-color: #fcbd01;
  transform: rotate(-10deg);
  display: grid;
  place-items: center;
}
@media screen and (min-width: 768px) {
  .c-top-section-title {
    width: clamp(300px, 202.5px + 25vw, 565px);
    height: clamp(189px, 126.6px + 16vw, 357px);
    margin-left: 30px;
    margin: 48px 0 0 30px;
    transform: rotate(-10deg);
  }
}
.c-top-section-title__right {
  margin-left: auto;
}

.c-top-section-title_text {
  font-family: "Hiragino Kaku Gothic StdN", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
  transform: rotate(10deg);
}
@media screen and (min-width: 768px) {
  .c-top-section-title_text {
    font-size: clamp(40px, 25.18px + 3.8vw, 80px);
    line-height: 1.2;
  }
}

/*!
component > page-section-title
------------------------------
*/
.c-page-section-title {
  font-family: "Hiragino Kaku Gothic StdN", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 30px;
  line-height: 1;
  color: #fd7325;
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .c-page-section-title {
    font-size: 56px;
  }
}
.c-page-section-title::after {
  content: "";
  display: block;
  width: 35px;
  aspect-ratio: 72/102;
  background-image: url(../../image/page-section-title-deco.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .c-page-section-title::after {
    width: 72px;
  }
}

.c-page-section-title.is-show::after {
  animation: deco-animation 0.3s ease-out;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}

@keyframes deco-animation {
  0% {
    opacity: 0;
    transform: scale(0.9) rotate(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.1) rotate(20deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}
/*!
component > section-title
------------------------------
*/
.c-page-title {
  padding-top: 160px;
}
@media screen and (min-width: 768px) {
  .c-page-title {
    padding-top: 270px;
    margin-bottom: 45px;
  }
}

.c-page-title_en {
  width: 310px;
  max-width: 100%;
  font-family: "Hiragino Kaku Gothic StdN", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 34px;
  line-height: 1;
  color: #fd7325;
  position: relative;
  transform: rotate(-2deg);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .c-page-title_en {
    width: 639px;
    font-size: 72px;
  }
}
.c-page-title_en::after {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  background-color: #fcbd01;
  border-radius: 10px;
  clip-path: polygon(0 50%, 1% 41%, 94% 0%, 95% 6%, 100% 100%, 0 100%);
  position: absolute;
  bottom: -8px;
  left: 0;
  transform: rotate(2deg);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .c-page-title_en::after {
    bottom: -16px;
    height: 50px;
  }
}

.c-page-title_ja {
  width: 310px;
  max-width: 100%;
  font-size: 24px;
  font-weight: 600;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .c-page-title_ja {
    width: 639px;
  }
}

/*!
component > animation
------------------------------
*/
.c-fade {
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.c-fade--up {
  transform: translateY(50px);
}
.c-fade--soft-up {
  transform: translateY(30px) scale(0.9);
}
.c-fade--left {
  transform: translateX(-300px);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.c-fade--soft-left {
  transform: translateX(-50px) scale(0.9);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.c-fade.is-show {
  opacity: 1;
  transform: none;
  transition-delay: var(--delay, 0s);
}

.c-bounce {
  opacity: 0;
}

.c-bounce.is-show {
  animation: bounce-animation 0.5s ease-out;
  animation-fill-mode: both;
  animation-delay: var(--delay, 0s);
}

@keyframes bounce-animation {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  20% {
    opacity: 1;
    transform: scale(1.2);
  }
  40% {
    opacity: 1;
    transform: scale(0.9);
  }
  60% {
    opacity: 1;
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.c-pop {
  opacity: 0;
  transform: scale(0.5);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.c-pop.is-show {
  opacity: 1;
  transform: none;
  transition-delay: var(--delay, 0s);
}

.c-number-swing--right {
  --rotate: 10deg;
}
.c-number-swing--left {
  --rotate: -8deg;
}
@media screen and (min-width: 768px) {
  .c-number-swing {
    transform: rotate(var(--rotate));
  }
}

.c-number-swing.is-show {
  animation: number-swing-sp 0.3s ease-out;
}
@media screen and (min-width: 768px) {
  .c-number-swing.is-show {
    animation: number-swing-pc 0.3s ease-out;
  }
}
.c-number-swing.is-show {
  animation-fill-mode: both;
  animation-delay: var(--delay, 0s);
}

@keyframes number-swing-sp {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(calc(var(--rotate) * 2));
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes number-swing-pc {
  0% {
    transform: rotate(var(--rotate));
  }
  50% {
    transform: rotate(calc(var(--rotate) * 3));
  }
  100% {
    transform: rotate(var(--rotate));
  }
}
.c-emphasis {
  transform: none;
}

.c-emphasis.is-show {
  animation: emphasis-animation 0.7s ease-out;
  animation-fill-mode: both;
  animation-delay: var(--delay, 0s);
}

@keyframes emphasis-animation {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
.c-pop-in {
  transform: none;
  opacity: 0;
}

.c-pop-in.is-show {
  animation: pop-in-animation 0.3s ease-out;
  animation-fill-mode: both;
  animation-delay: var(--delay, 0s);
}

@keyframes pop-in-animation {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/*!
project > hero
------------------------------
*/
.p-hero {
  height: min(57.3px + 67.1vw, 100svh);
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
}

.p-hero_header {
  background-image: url(../../image/hero-background-1.png);
  background-size: auto 100%;
  background-position: left top;
  background-repeat: no-repeat;
  min-width: 0;
}

.p-hero_catch {
  font-family: "Hiragino Kaku Gothic StdN", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  font-weight: 800;
  font-size: clamp(16px, 4.1px + 3.05vw, 48px);
  padding-top: 10px;
  padding-left: 10px;
  letter-spacing: 0.02;
  line-height: 1.2;
  animation: catch-animation 0.3s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.p-hero_catch span {
  display: block;
  font-size: 20px;
  font-size: clamp(20px, -2.29px + 5.71vw, 80px);
}
@media screen and (min-width: 768px) {
  .p-hero_catch {
    padding-top: 40px;
  }
}

.p-hero_logo {
  padding-top: min(clamp(66px, 42.21px + 6.1vw, 130px), 12.7vh);
}
.p-hero_logo img {
  display: block;
  margin-left: auto;
  height: min(clamp(23px, 6.48vw - 2.26px, 91px), 8.89vh);
  width: auto;
  max-width: 100%;
}
.p-hero_logo {
  animation: logo-animation 0.5s ease-out;
  animation-delay: 0.9s;
  animation-fill-mode: backwards;
}

.p-hero_content-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.p-hero_content-item {
  line-height: 1;
}
.p-hero_content-item:nth-of-type(1) {
  width: min(clamp(120px, 23.4px + 24.76vw, 380px), (1.2px + 20vh) * 1.81);
  --translate-x: -100px;
  --translate-y: 0;
}
.p-hero_content-item:nth-of-type(2) {
  padding-top: 20px;
  width: min(clamp(97px, 4.6px + 23.7vw, 346px), (24vh - 9.56px) * 1.45);
  --translate-x: 0;
  --translate-y: -100px;
}
.p-hero_content-item:nth-of-type(3) {
  padding-top: 8px;
  width: min(clamp(113px, 26.4px + 22.2vw, 347px), (6.58px + 18vh) * 1.765);
  --translate-x: 100px;
  --translate-y: 0;
}
.p-hero_content-item {
  animation: content-item-animation 0.8s ease-out;
  animation-fill-mode: backwards;
}
.p-hero_content-item:nth-of-type(1) {
  animation-delay: 1.5s;
}
.p-hero_content-item:nth-of-type(2) {
  animation-delay: 2s;
}
.p-hero_content-item:nth-of-type(3) {
  animation-delay: 2.5s;
}

.p-hero_content-text {
  font-weight: bold;
  white-space: nowrap;
  font-size: clamp(13px, 2.38vw + 3.718px, 22px);
}
@media screen and (min-width: 768px) {
  .p-hero_content-text {
    padding-left: 12%;
    font-size: 22px;
  }
}

.p-hero_content-image img {
  width: 100%;
  height: auto;
}

@keyframes catch-animation {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes logo-animation {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes content-item-animation {
  0% {
    opacity: 0;
    transform: translate(var(--translate-x), var(--translate-y)) scale(0.8);
  }
  20% {
    opacity: 1;
    transform: scale(1.2);
  }
  40% {
    opacity: 1;
    transform: scale(0.9);
  }
  60% {
    opacity: 1;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/*!
project > top
------------------------------
*/
.p-top-about {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #ffe8dc;
}
@media screen and (min-width: 768px) {
  .p-top-about {
    padding-bottom: 96px;
  }
}

.p-top-about_title {
  margin-top: 44px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .p-top-about_title {
    padding-left: 172px;
    padding-top: 41px;
    font-size: 40px;
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .p-top-about_contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
    justify-content: center;
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .p-top-about_header {
    grid-column: 1;
    grid-row: 1;
  }
}

.p-top-about_image {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-top-about_image {
    display: block;
    max-width: 450px;
    padding-top: 116px;
    grid-column: 2;
    grid-row: 1;
  }
}

.p-top-about_text {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .p-top-about_text {
    grid-column: 1/3;
    grid-row: 2;
    padding-left: 172px;
  }
}

.p-top-about_button {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .p-top-about_button {
    grid-column: 1/3;
    grid-row: 3;
    padding-left: 172px;
  }
  .p-top-about_button .c-button {
    margin-inline: 0;
  }
}

.p-top-howtouse {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .p-top-howtouse {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.p-top-howtouse_list {
  margin-top: 44px;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .p-top-howtouse_list {
    margin-top: 46px;
  }
}

.p-top-howtouse_item {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .p-top-howtouse_item {
    margin-bottom: 86px;
    gap: 60px;
  }
}

.p-top-howtouse_number {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 104px;
  line-height: 1;
  font-weight: 800;
  color: #fd7325;
}

.p-top-howtouse_text {
  font-size: 20px;
  font-weight: 800;
}

.p-top-howtouse_option {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 800;
  color: #fd7325;
  padding-bottom: 8px;
}

.p-top-price {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #ffe8dc;
}
@media screen and (min-width: 768px) {
  .p-top-price {
    padding-bottom: 96px;
  }
}

.p-top-price_text {
  margin-top: 44px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .p-top-price_text {
    margin-top: 62px;
    font-size: 40px;
    text-align: center;
  }
}

.p-top-price_list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .p-top-price_list {
    flex-direction: row;
    gap: 48px;
    margin-top: 20px;
    flex-wrap: wrap;
  }
}

.p-top-price_item {
  height: 285px;
  width: 330px;
  padding: 13px 68px;
  border: 4px solid #fcbd01;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.p-top-price_item:nth-of-type(1) .p-top-price_image {
  width: 106px;
  height: 80px;
  margin-bottom: 10px;
}
.p-top-price_item:nth-of-type(2) .p-top-price_image {
  width: 151px;
  height: 114px;
}
.p-top-price_item:nth-of-type(3) .p-top-price_image {
  width: 196px;
  height: 148px;
}

.p-top-price_image {
  margin-inline: auto;
  margin-bottom: 6px;
}

.p-top-price_size {
  padding-bottom: 3px;
  border-bottom: 2px solid #fcbd01;
  font-size: 18px;
  width: 100%;
  text-align: center;
}
.p-top-price_size span {
  font-family: "Hiragino Kaku Gothic StdN", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 32px;
  color: #fd7325;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.2em;
}

.p-top-price_price {
  padding-top: 15px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
}
.p-top-price_price span {
  font-size: 18px;
  font-weight: 400;
}

.p-top-price_caption {
  width: fit-content;
  margin-inline: auto;
  max-width: 100%;
}

.p-top-price_caption-text1 {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .p-top-price_caption-text1 {
    margin-top: 80px;
  }
}

.p-top-price_caption-text2 {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .p-top-price_caption-text2 {
    margin-top: 10px;
  }
}

.p-top-price_button {
  margin-top: 48px;
}

.p-top-reassurance {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .p-top-reassurance {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.p-top-reassurance_list {
  margin-top: 44px;
  margin-inline: auto;
  width: fit-content;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .p-top-reassurance_list {
    width: 100%;
    margin-top: 46px;
  }
}

.p-top-reassurance_item {
  display: flex;
  gap: 36px;
  align-items: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .p-top-reassurance_item {
    margin-bottom: 86px;
    gap: 100px;
  }
  .p-top-reassurance_item:nth-of-type(odd) .p-top-reassurance_text {
    transform: rotate(-2deg);
  }
  .p-top-reassurance_item:nth-of-type(even) {
    justify-self: flex-end;
  }
  .p-top-reassurance_item:nth-of-type(even) .p-top-reassurance_text {
    transform: rotate(2deg);
  }
}

.p-top-reassurance_number {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 100px;
  font-weight: 800;
  line-height: 1;
  color: #fcbd01;
}
@media screen and (min-width: 768px) {
  .p-top-reassurance_number {
    font-size: 200px;
  }
}

.p-top-reassurance_text {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .p-top-reassurance_text {
    font-size: 32px;
  }
}

.p-top-reassurance_bold {
  font-size: 40px;
  font-weight: 600;
  color: #fd7325;
  letter-spacing: 0.1em;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .p-top-reassurance_bold {
    display: block;
    font-size: 80px;
  }
}

/*!
project > service
------------------------------
*/
.p-service-about {
  padding-top: 71px;
  margin-bottom: 40px;
}

.p-service-about_container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
  .p-service-about_container {
    grid-template-columns: 23.2% 25% 45.2%;
    column-gap: 3%;
    margin-top: 40px;
  }
}

.p-service-about_problem01 {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  margin-top: 80px;
  margin-bottom: 56px;
  padding-left: 6%;
  justify-self: flex-start;
}
@media screen and (min-width: 768px) {
  .p-service-about_problem01 {
    grid-column: 1;
    grid-row: 1;
    padding-left: 17.8%;
    font-size: clamp(18px, 0.89vw + 11.14px, 24px);
    margin-bottom: 0;
    margin-top: 125px;
    align-self: center;
  }
}
.p-service-about_problem01 .p-service-about_problem01-text {
  opacity: 0;
}
.p-service-about_problem01::after {
  content: "";
  display: block;
  width: 84.4%;
  aspect-ratio: 223/191;
  background-color: #fcbd01;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-service-about_problem01::after {
    width: 84.4%;
  }
}

.p-service-about_problem02 {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  justify-self: flex-end;
  padding-right: 6%;
  margin-bottom: 56px;
}
@media screen and (min-width: 768px) {
  .p-service-about_problem02 {
    grid-column: 2;
    grid-row: 1;
    padding-right: 0;
    font-size: clamp(18px, 0.89vw + 11.14px, 24px);
    padding-left: 17.8%;
    margin-top: 45px;
    margin-bottom: 0;
    align-self: flex-start;
  }
}
.p-service-about_problem02 .p-service-about_problem02-text {
  opacity: 0;
}
.p-service-about_problem02::after {
  content: "";
  display: block;
  width: 89.6%;
  aspect-ratio: 250/214;
  background-color: #fcbd01;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  opacity: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-service-about_problem02::after {
    width: 89.6%;
  }
}

.p-service-about_problem01.is-show .p-service-about_problem01-text {
  animation: fadeIn-animation 0.3s ease-out;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}
.p-service-about_problem01.is-show::after {
  animation: problem-bounce-animation 0.3s ease-out;
  animation-fill-mode: both;
}

.p-service-about_problem02.is-show .p-service-about_problem02-text {
  animation: fadeIn-animation 0.3s ease-out;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}
.p-service-about_problem02.is-show::after {
  animation: problem-bounce-animation 0.3s ease-out;
  animation-fill-mode: both;
}

@keyframes problem-bounce-animation {
  0% {
    opacity: 0;
    transform: translateY(-50%) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: translateY(-50%) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}
@keyframes fadeIn-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.p-service-about_contents {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .p-service-about_contents {
    grid-column: 1/3;
    grid-row: 2;
    margin-left: auto;
    margin-top: 64px;
    white-space: nowrap;
    align-self: flex-end;
    transform: translateX(22%);
  }
}

.p-service-about_title {
  font-size: 24px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .p-service-about_title {
    font-size: clamp(22px, 1.19vw + 14.85px, 32px);
  }
}

@media screen and (min-width: 768px) {
  .p-service-about_image {
    margin-top: 50px;
    grid-column: 3;
    grid-row: 1/3;
  }
}

.p-service-work {
  margin-top: 80px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .p-service-work {
    margin-top: 96px;
  }
}

.p-service-work_catch {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .p-service-work_catch {
    font-size: 32px;
  }
}

.p-service-work_list {
  margin-top: 40px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4%;
  row-gap: 34px;
}
@media screen and (min-width: 768px) {
  .p-service-work_list {
    margin-top: 84px;
  }
}

.p-service-work_item {
  max-width: 500px;
  width: 48%;
  min-width: 340px;
  width: 48%;
  border: 8px solid #fcbd01;
  border-radius: 30px;
}

.p-service-work_title {
  font-size: 32px;
  font-weight: 800;
  color: #fd7325;
  padding: 34px 34px 0 34px;
}

.p-service-work_text {
  padding: 0 40px 0 40px;
}

.p-service-work_image {
  place-self: end;
  max-width: 484px;
  min-width: 344px;
  width: 100%;
}

.p-service-reccomend {
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .p-service-reccomend {
    margin-top: 96px;
  }
}

.p-service-reccomend_list {
  margin-top: 40px;
  margin-inline: auto;
  width: 88.4%;
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
  .p-service-reccomend_list {
    margin-top: 84px;
  }
}
@media screen and (min-width: 768px) {
  .p-service-reccomend_list {
    grid-template-columns: 27.56% 36.89% 35.55%;
  }
}

.p-service-reccomend_item {
  border-radius: 50%;
  aspect-ratio: 280/239;
  border: 4px solid #fcbd01;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
  margin-bottom: 0px;
  width: 52%;
}
.p-service-reccomend_item:nth-of-type(odd) {
  justify-self: right;
}
.p-service-reccomend_item:not(:nth-of-type(1))::before, .p-service-reccomend_item:not(:nth-of-type(1))::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 4px solid #fcbd01;
}
.p-service-reccomend_item:not(:nth-of-type(1))::before {
  width: 35px;
  height: 27px;
  left: 10.45%;
  bottom: -27px;
}
.p-service-reccomend_item:not(:nth-of-type(1))::after {
  width: 20px;
  height: 16px;
  left: 4.18%;
  bottom: -53px;
}
.p-service-reccomend_item:nth-of-type(3)::before, .p-service-reccomend_item:nth-of-type(5)::before {
  right: 10.45%;
  left: auto;
}
.p-service-reccomend_item:nth-of-type(3)::after, .p-service-reccomend_item:nth-of-type(5)::after {
  right: 4.18%;
  left: auto;
}
@media screen and (min-width: 768px) {
  .p-service-reccomend_item {
    margin-bottom: 53px;
  }
  .p-service-reccomend_item:nth-of-type(3)::before {
    left: 10.45%;
    bottom: -27px;
  }
  .p-service-reccomend_item:nth-of-type(3)::after {
    left: 4.18%;
    bottom: -53px;
  }
  .p-service-reccomend_item:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1;
    width: 88.88%;
    justify-self: center;
    align-self: flex-start;
  }
  .p-service-reccomend_item:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1;
    width: 75.06%;
    justify-self: center;
    align-self: center;
  }
  .p-service-reccomend_item:nth-of-type(3) {
    grid-column: 1;
    grid-row: 1/3;
    width: 100%;
    align-self: center;
  }
  .p-service-reccomend_item:nth-of-type(4) {
    grid-column: 2;
    grid-row: 2;
    width: 72.35%;
    align-self: flex-start;
    justify-self: center;
  }
  .p-service-reccomend_item:nth-of-type(5) {
    grid-column: 3;
    grid-row: 2;
    width: 75.06%;
    margin-top: 15px;
    align-self: flex-start;
    justify-self: flex-end;
  }
}

.p-service-items {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .p-service-items {
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

.p-service-items_catch {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .p-service-items_catch {
    font-size: 32px;
  }
}

.p-service-items_list {
  margin-top: 40px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 34px;
}
@media screen and (min-width: 768px) {
  .p-service-items_list {
    margin-top: 84px;
    grid-template-columns: repeat(5, 1fr);
  }
}

.p-service-items_item {
  border-radius: 20px;
  background-color: #fcbd01;
  counter-increment: item-number;
  position: relative;
}
.p-service-items_item::before {
  content: "0" counter(item-number);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 64px;
  font-weight: 800;
  color: #ffffff;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 10px;
}

.p-service-items_image {
  margin-inline: auto;
  margin-top: 20px;
  width: 70%;
  max-width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.p-service-items_image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.p-service-items_image--small img {
  max-width: 85%;
  max-height: 85%;
}

.p-service-items_text {
  text-align: center;
  align-self: flex-end;
  padding: 4px;
  font-weight: 800;
}

/*!
project > howtouse
------------------------------
*/
.p-howtouse-step {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .p-howtouse-step {
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

.p-howtouse-step_catch {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .p-howtouse-step_catch {
    font-size: 32px;
  }
}

.p-howtouse-step_list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .p-howtouse-step_list {
    gap: 72px;
    margin-top: 84px;
  }
}

.p-howtouse-step_item {
  width: 100%;
  counter-increment: step-item;
  display: grid;
  align-items: flex-start;
  gap: 12px;
  grid-template-columns: 100px 1fr;
}
@media screen and (min-width: 768px) {
  .p-howtouse-step_item {
    align-items: center;
    gap: 40px;
    grid-template-columns: 160px 1fr;
  }
}
.p-howtouse-step_item::before {
  content: "0" counter(step-item);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fcbd01;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1;
  color: #ffffff;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 768px) {
  .p-howtouse-step_item::before {
    width: 160px;
    height: 160px;
    font-size: 104px;
  }
}

.p-howtouse-step_free {
  width: 100%;
  display: block;
  background-color: #ffe8dc;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #fd7325;
}

.p-howtouse-step_text {
  margin-bottom: 18px;
}

.p-howtouse-option {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .p-howtouse-option {
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

.p-howtouse-option_catch {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .p-howtouse-option_catch {
    font-size: 32px;
  }
}

.p-howtouse-option_list {
  margin-top: 40px;
  margin-inline: auto;
  max-width: 1048px;
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 650px) {
  .p-howtouse-option_list {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }
}
.p-howtouse-option_list {
  gap: 24px;
  place-items: center;
}
@media screen and (min-width: 768px) {
  .p-howtouse-option_list {
    gap: 48px;
    margin-top: 84px;
  }
}

.p-howtouse-option-item {
  height: 100%;
  max-width: 500px;
  border-radius: 30px;
  border: 8px solid #fcbd01;
  padding: 24px;
}
@media screen and (min-width: 768px) {
  .p-howtouse-option-item {
    padding: 34px;
  }
}

.p-howtouse-option-title {
  font-family: "Hiragino Kaku Gothic StdN", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #fd7325;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .p-howtouse-option-title {
    font-size: 32px;
  }
}

/*!
project > price
------------------------------
*/
.p-price-structure {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .p-price-structure {
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

.p-price-structure_list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .p-price-structure_list {
    flex-direction: row;
    gap: 10px;
  }
}

.p-price-structure_item {
  margin-inline: auto;
  margin-top: 110px;
  width: 70%;
  padding: 50px 43px;
  border-radius: 20px;
  border: 4px solid #fcbd01;
  position: relative;
  isolation: isolate;
  z-index: -1;
}
.p-price-structure_item:not(:nth-of-type(3))::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 60px;
  background-image: url(../../image/p-price-icon-arrow.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}
@media screen and (min-width: 1200px) {
  .p-price-structure_item {
    width: auto;
    margin-right: 50px;
    margin-left: 65px;
    margin-top: 140px;
  }
  .p-price-structure_item:not(:nth-of-type(3))::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 60px;
    background-image: url(../../image/p-price-icon-arrow.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: -50px;
    left: auto;
    transform: translateY(-50%);
  }
}

.p-price-structure_badge {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 4px solid #fcbd01;
  font-family: "Hiragino Kaku Gothic StdN", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 24px;
  letter-spacing: 0.06em;
  color: #fcbd01;
  position: absolute;
  top: -40px;
  left: -40px;
}
@media screen and (min-width: 768px) {
  .p-price-structure_badge {
    font-size: 32px;
    width: 110px;
    height: 110px;
    top: -60px;
    left: -60px;
  }
}
.p-price-structure_badge__free {
  border: 4px solid #fd7325;
  color: #fd7325;
}

.p-price-structure_badge.is-show {
  animation: spin-animation 0.5s ease-out;
  animation-fill-mode: both;
  animation-delay: var(--delay, 0s);
}

@keyframes spin-animation {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.p-price-structure_text {
  font-weight: 600;
}

.p-price-structure_text_color {
  color: #fd7325;
}

.p-price-base {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .p-price-base {
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

.p-price-base_catch {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .p-price-base_catch {
    font-size: 32px;
  }
}

.p-price-base_contents {
  margin-inline: auto;
}

.p-price-base_text {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .p-price-base_text {
    font-size: 24px;
    margin-top: 84px;
  }
}

.p-price-table_title {
  display: inline-block;
  font-family: "Hiragino Kaku Gothic StdN", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #ffffff;
  padding: 5px 30px;
  background-color: #fcbd01;
  white-space: nowrap;
  margin-bottom: 20px;
}

.p-price-table-scroll {
  overflow-x: auto;
  margin-bottom: 60px;
}

.p-price-table {
  border-collapse: separate;
  border-spacing: 8px 0;
  margin-left: -8px;
}

.p-price-table-tr:first-of-type .p-price-table-th {
  border-radius: 10px 0 0 0;
}
.p-price-table-tr:first-of-type .p-price-table-td {
  border: 4px solid #fcbd01;
  border-bottom: 1px solid #fcbd01;
  border-radius: 0 10px 0 0;
}
.p-price-table-tr:last-of-type .p-price-table-th {
  border-radius: 0 0 0 10px;
}
.p-price-table-tr:last-of-type .p-price-table-td {
  border: 4px solid #fcbd01;
  border-top: 1px solid #fcbd01;
  border-radius: 0 0 10px 0;
}

.p-price-table-th {
  max-width: 156px;
  background-color: #fcbd01;
  font-family: "Hiragino Kaku Gothic StdN", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #ffffff;
  text-align: left;
  padding: 0 12px;
  border: 1px solid #ffffff;
}

.p-price-table-td {
  padding: 14px;
  border-left: 4px solid #fcbd01;
  border-right: 4px solid #fcbd01;
}

.p-price-table__base {
  min-width: 650px;
}
.p-price-table__base .p-price-table-tr {
  height: 72px;
}
.p-price-table__base .p-price-table-tr:first-of-type .p-price-table-td {
  border: 4px solid #fcbd01;
  border-bottom: 1px solid #fcbd01;
  border-radius: 10px 10px 0 0;
}
.p-price-table__base .p-price-table-tr:last-of-type .p-price-table-td {
  border: 4px solid #fcbd01;
  border-top: 1px solid #fcbd01;
  border-radius: 0 0 10px 10px;
}
.p-price-table__base .p-price-table-th {
  position: sticky;
  left: 0;
  z-index: 2;
}
.p-price-table__base .p-price-table-td {
  text-align: center;
}

.p-price-table_text-size {
  font-family: "Hiragino Kaku Gothic StdN", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #fd7325;
  letter-spacing: 0.02em;
}

.p-price-table_text-price {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}

.p-price-base_unit span {
  font-size: 14px;
}

@media screen and (max-width: calc(768px - 1px)) {
  .p-price-table__include .p-price-table-tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .p-price-table__include .p-price-table-tr .p-price-table-th,
  .p-price-table__include .p-price-table-tr .p-price-table-td {
    border: 1px solid #fcbd01;
  }
  .p-price-table__include .p-price-table-tr .p-price-table-th {
    border-radius: 10px 10px 0 0;
  }
  .p-price-table__include .p-price-table-tr .p-price-table-td {
    border-radius: 0;
  }
  .p-price-table__include .p-price-table-th {
    position: static;
    max-width: none;
  }
}

.p-price-option {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .p-price-option {
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

.p-price-option_catch {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .p-price-option_catch {
    font-size: 32px;
  }
}

.p-price-option_contents {
  margin-inline: auto;
}

.p-price-option-table {
  table-layout: fixed;
  max-width: 500px;
  min-width: auto;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .p-price-option-table {
    margin-top: 84px;
  }
}
.p-price-option-table .p-price-table-tr .p-price-table-th,
.p-price-option-table .p-price-table-tr .p-price-table-td {
  width: 50%;
  height: 126px;
}
.p-price-option-table .p-price-table-tr .p-price-table-th {
  border-radius: 10px 0 0 10px;
}
.p-price-option-table .p-price-table-tr .p-price-table-td {
  border: 4px solid #fcbd01;
  border-radius: 0 10px 10px 0px;
}

.p-price-point {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .p-price-point {
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

.p-price-point_contents {
  max-width: 800px;
  margin-inline: auto;
}

.p-price-point_list {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  column-gap: clamp(20px, -71.43px + 11.9vw, 100px);
  row-gap: 78px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .p-price-point_list {
    margin-top: 108px;
  }
}

.p-price-point_item {
  width: 320px;
  height: 158px;
  position: relative;
  border: 4px solid #fcbd01;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

.p-price-point_number {
  background-color: #ffffff;
  font-family: "Hiragino Kaku Gothic StdN", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  font-weight: 800;
  font-size: 18px;
  position: absolute;
  top: -32px;
  left: 12px;
}
.p-price-point_number::after {
  content: "";
  display: inline-block;
  width: 28px;
  height: 36px;
  background-image: url(../../image/p-price-exclamation.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.p-price-point_item.is-show .p-price-point_number::after {
  animation: deco-animation 0.3s ease-out;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

@keyframes deco-animation {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  50% {
    opacity: 1;
    transform: scale(1.15);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.p-price-point_text {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

/*!
project > faq
------------------------------
*/
.p-faq-product {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .p-faq-product {
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

.p-faq-contents {
  margin-inline: auto;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .p-faq-contents {
    margin-top: 84px;
  }
}

.p-faq-item {
  border-radius: 100vh;
  border: 4px solid #fcbd01;
  padding: 16px;
  margin-bottom: 24px;
}
.p-faq-item[open] {
  border-radius: 20px;
}

.p-faq-question {
  list-style: none;
}
.p-faq-question::-webkit-details-marker {
  display: none;
}
.p-faq-question {
  font-weight: bold;
  display: grid;
  grid-template-columns: 40px 1fr 24px;
  gap: 32px;
  align-items: center;
  cursor: pointer;
}
.p-faq-question::before {
  content: "Q";
  font-family: "Hiragino Kaku Gothic StdN", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 32px;
  font-weight: 800;
  color: #ffffff;
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fcbd01;
}
.p-faq-question::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../../../../image/p-faq-icon-plus.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.p-faq-item[open] .p-faq-question::after {
  background-image: url(../../../../image/p-faq-icon-minus.png);
}

.p-faq-answer {
  margin-left: 72px;
  margin-top: 18px;
  overflow: hidden;
  height: 0;
  opacity: 0;
  margin-top: 0;
  transition: height 0.3s ease, opacity 0.3s ease, margin-top 0.3s ease;
}

/*!
utility > utility
------------------------------
*/
/* 非表示 */
.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

.u-br {
  display: block;
}

.u-br-sp {
  display: block;
}
@media screen and (min-width: 768px) {
  .u-br-sp {
    display: inline;
  }
}

.u-br-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-br-pc {
    display: inline;
  }
}

.u-mt18 {
  margin-top: 18px;
}/*# sourceMappingURL=style.css.map */