@use "../../foundation/variables" as *;
@use "../../foundation/breakpoints" as g;
/*!
component > cta
------------------------------
*/

.c-cta {
  width: 100%;
  height: fit-content;
  background-color: $color-accent;
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 0;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.c-cta_image img {
  width: 100%;
}
.c-cta_text01_wrapper {
  width: 112%;
  margin-left: auto;
  border-radius: 0px 0px 260px 160px;
  background-color: $color-white;
  transform: translateY(calc(-1 * clamp(14px, calc(3.42vw + 0.62px), 50px)))
    rotate(10deg);
  padding-bottom: clamp(10px, calc(2.19vw + 1.45px), 33px);
  padding-top: clamp(20px, calc(10vw - 19.37px), 126px);
}
.c-cta_text01 {
  font-size: clamp(17px, calc(4.47vw - 0.45px), 64px);
  font-weight: $fw-semi-bold;
  line-height: 1.4;
  color: $color-primary;
  text-align: center;
  transform: rotate(-5deg);
}

.c-cta_text02 {
  font-family: $font-family-bold;
  font-size: clamp(16px, calc(3.8vw + 1.14px), 56px);
  font-weight: $fw-bold;
  line-height: 1.4;
  transform: rotate(-6deg) translateY(-25%);

  ::after {
    content: "";
    display: inline-block;
    background-image: url(../../image/cta-exclamation.png);
    background-size: cover;
    background-position: center;
    width: 15%;
    margin-left: 3%;
    aspect-ratio: 76 / 103;
    transform: rotate(6deg) translateY(17%);
    @include g.mq() {
      margin-left: 2%;
    }
  }
}

.c-cta_text03 {
  padding-left: 8vw;
  font-size: clamp(23px, calc(6.19vw - 1.14px), 88px);
  margin-bottom: 24vh;
  @include g.mq() {
    margin-bottom: 0;
  }
}

.c-cta_button {
  position: absolute;
  bottom: 0;
  right: 0;

  @include g.mq() {
    position: static;
  }
}
.c-cta_text04 {
  padding-top: clamp(12px, calc(3.23vw - 0.62px), 46px);
  font-size: clamp(16px, calc(0.76vw + 13px), 24px);
  font-weight: $fw-bold;

  @include g.mq() {
    margin-bottom: 24vh;
  }
}

.c-cta_link {
  display: block;
  background-color: $color-primary;
  border-radius: 20px;
  border: 4px solid $color-accent;

  padding: 1.94vh 3.92vw;

  font-family: $font-family-bold;
  // font-size: 48px;
  font-size: clamp(16px, calc(3.04vw + 4.11px), 48px);
  font-weight: $fw-bold;
  letter-spacing: 0.02em;
  color: $color-white;
  white-space: nowrap;
  max-width: 100%;
  text-align: center;

  box-shadow: 5px 6px 0 0 $color-primary;

  margin-bottom: 3vh;
  margin-right: 2.43vw;
  @include g.mq() {
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 10px 12px 0 0 $color-primary;
    margin-bottom: 5.57vh;
  }
}
