@use "../../foundation/variables" as *;
@use "../../foundation/breakpoints" as g;
/*!
component > top-section-title
------------------------------
*/

.c-top-section-title {
  width: 300px;
  height: 189px;
  margin-inline: auto;
  border-radius: 300px 1000px 400px 1000px;
  background-color: $color-accent;
  transform: rotate(-10deg);
  display: grid;
  place-items: center;

  @include g.mq() {
    width: clamp(300px, calc(202.5px + 25vw), 565px);
    height: clamp(189px, calc(126.6px + 16vw), 357px);
    margin: 48px 0 0 0;
    transform: rotate(-10deg);
  }

  &__right {
    margin-left: auto;
  }
}

.c-top-section-title_text {
  font-family: $font-family-bold;
  font-size: 36px;
  font-weight: $fw-bold;
  color: $color-white;

  transform: rotate(10deg);
  @include g.mq() {
    font-size: clamp(36px, calc(3.3vw + 23.14px), 66px);
    line-height: 1.4;
  }
}
